# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio & Android generated
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
/android/**/GeneratedPluginRegistrant.kt

# Platform-specific ignores (we only target Android)
/ios/
/web/
/linux/
/macos/
/windows/

# Environment Variables
.env
.env.*
!.env.example
config/env.json